$lightgray      : #e1e8ed;
$lightblue			: #F5F8FA;
$gray           : #8899a6;
$mediumgray     : #536870;
$darkgray       : #66757f;
$darkblue       : #0084B4;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #FF8F00;
$red            : #D76666;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #55ACEE;
$cyan           : #259286;
$green          : #738A05;
$black					: #292f33;

$font-primary: "Helvetica Neue",Helvetica,Arial,sans-serif;

$default-border-radius: 5px;

$content-z-index: 2;
$lr-z-index: 3
